<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<title>Smart PowerBox: Monitoring</title>
		<meta name="description" content="" />
		<meta name="author" content="Moses Wan" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link href="{{ static_url("css/bootstrap.min.css") }}" rel="stylesheet">
        <link href="{{ static_url("css/schedule.css") }}" rel="stylesheet">

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
	</head>

	<body>
		<nav class="navbar navbar-inverse navbar-static-top">
    		<div class="navbar-inner">
    			<div class="container">
    				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
        				<span class="icon-bar"></span>
      				</a>
      				<a class="brand">Smart PowerBox</a>
      				<div class="nav-collapse collapse">
		    			<ul class="nav">
			    			<li><a href="control">Manual Control</a></li>
						<li class="active"><a href="#">Monitoring</a></li>
			    			<li><a href="schedule">Scheduling</a></li>
			    			<li><a href="settings">Settings</a></li>
		    			</ul>
	    			</div>
    			</div>
    		</div>
    		</nav>
    		<header>
    			<h1>Monitoring</h1>
    		</header>
    		<div class="row-margin">
			<div class="row-fluid">
				<div class="span9">
					<div id="graph" style="min-width: 300px; height: 400px;">Loading Graph</div>
				</div>
				<div class="span3">
					<div class="radio">
						<label>
							<input type="radio" name="chartSelect" id="real_time" value="real_time" checked>
							Real-Time Power Consumption
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="chartSelect" id="hourly" value="hourly">
							Energy used in the last 24 hours
						</label>
					</div>
					<div class="radio">
						<label>
							<input type="radio" name="chartSelect" id="daily" value="daily">
							Energy used in the last 7 days
						</label>
					</div>
					<div class="power-level">
						<p>Current Power Consumption: <b><span class="power">0</span> W</b></p>
					</div>
				</div>
			</div>		
			<footer>
				<p>
					&copy; Copyright  by Moses Wan
				</p>
			</footer>
		</div>
		<script src="{{ static_url("js/jquery-2.0.2.min.js") }}"></script>
		<script src="{{ static_url("js/bootstrap.min.js") }}"></script>
		<script src="{{ static_url("js/highcharts.js") }}"></script>
		<script src="{{ static_url("js/monitor.js") }}"></script>		
		
	</body>
</html>
